# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [88]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [89]:
cities_df = pd.read_csv("../WeatherPy/Cities.csv")
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,puerto ayora,20,EC,1.586122e+09,70,-0.74,-90.35,84.20,10.29
1,1,provideniya,100,RU,1.586121e+09,86,64.38,-173.30,6.84,11.63
2,2,kloulklubed,75,PW,1.586121e+09,88,7.04,134.26,75.20,5.82
3,3,praia da vitoria,75,PT,1.586122e+09,87,38.73,-27.07,55.40,14.27
4,4,atuona,22,PF,1.586121e+09,76,-9.80,-139.03,81.59,14.38
...,...,...,...,...,...,...,...,...,...,...
559,559,kalengwa,99,ZM,1.586122e+09,56,-13.47,25.00,66.16,2.37
560,560,solnechnyy,0,RU,1.586122e+09,90,50.72,136.63,24.85,4.61
561,561,marawi,91,PH,1.586122e+09,75,8.00,124.29,66.88,1.92
562,562,manzhouli,90,CN,1.586122e+09,75,49.60,117.43,27.59,12.91
563,563,plastun,100,RU,1.586122e+09,84,44.76,136.29,34.93,6.53

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [90]:
gmaps.configure(api_key=g_key)
locations = cities_df[["Lat", "Lng"]]
Humidity = cities_df["Humidity"]
max_humidity = cities_df["Humidity"].max()

In [91]:
fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(locations, weights=Humidity, max_intensity=max_humidity)
fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [92]:
hotel_df = cities_df.loc[(cities_df["Max Temp"] < 80) & (cities_df["Max Temp"] > 70),:]
hotel_df = hotel_df.loc[hotel_df["Wind Speed"] < 10,:]
hotel_df = hotel_df.loc[hotel_df["Cloudiness"] == 0,:]
hotel_df = hotel_df.loc[hotel_df["Humidity"] < 50,:]
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
197,197,rawatsar,0,IN,1.586122e+09,31,29.28,74.38,77.09,7.11
219,219,bharatpur,0,IN,1.586122e+09,24,27.22,77.48,77.61,4.09
289,289,jhanjharpur,0,IN,1.586122e+09,20,26.27,86.28,72.77,7.05
339,339,najran,0,SA,1.586122e+09,36,17.49,44.13,77.00,5.08
457,457,betma,0,IN,1.586122e+09,14,22.68,75.62,78.98,6.49
490,490,santiago,0,CL,1.586122e+09,38,-33.46,-70.65,77.00,5.82
495,495,odweyne,0,SO,1.586122e+09,35,9.41,45.06,77.36,6.53
531,531,doha,0,QA,1.586122e+09,38,25.29,51.53,77.00,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [93]:
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Lat"] = ""
hotel_df["Hotel Lng"] = ""
hotel_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name,Hotel Lat,Hotel Lng
197,197,rawatsar,0,IN,1.586122e+09,31,29.28,74.38,77.09,7.11,,,
219,219,bharatpur,0,IN,1.586122e+09,24,27.22,77.48,77.61,4.09,,,
289,289,jhanjharpur,0,IN,1.586122e+09,20,26.27,86.28,72.77,7.05,,,
339,339,najran,0,SA,1.586122e+09,36,17.49,44.13,77.00,5.08,,,
457,457,betma,0,IN,1.586122e+09,14,22.68,75.62,78.98,6.49,,,

In [94]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

radius = 5000

parameters = {"key": g_key,
              "radius": radius,
              "keyword": "hotel"}
failed = []

for index, row in hotel_df.iterrows():
    parameters["location"] = f"{row[6]},{row[7]}"
        
    response = requests.get(url, params=parameters).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        hotel_df.loc[index, "Hotel Lat"] = response["results"][0]["geometry"]["location"]["lat"]
        hotel_df.loc[index, "Hotel Lng"] = response["results"][0]["geometry"]["location"]["lng"]
    except (KeyError, IndexError):
        print("Couldn't find a hotel...")
        failed.append(hotel_df.loc[index, "City"])

Couldn't find a hotel...
Couldn't find a hotel...

In [95]:
failed
for city in failed:
    hotel_df = hotel_df[hotel_df["City"] != city]
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name,Hotel Lat,Hotel Lng
197,197,rawatsar,0,IN,1.586122e+09,31,29.28,74.38,77.09,7.11,MW Hotel & Restaurant,29.2647,74.4089
219,219,bharatpur,0,IN,1.586122e+09,24,27.22,77.48,77.61,4.09,Regenta Resort Bharatpur,27.1902,77.5308
457,457,betma,0,IN,1.586122e+09,14,22.68,75.62,78.98,6.49,SPOT ON 62682 Siddhi Vinayak Palace 1,22.633,75.6041
490,490,santiago,0,CL,1.586122e+09,38,-33.46,-70.65,77.00,5.82,Lib Hotel Bellavista,-33.4334,-70.636
495,495,odweyne,0,SO,1.586122e+09,35,9.41,45.06,77.36,6.53,Al Madina Hotel & Restaurant,9.40712,45.0649
531,531,doha,0,QA,1.586122e+09,38,25.29,51.53,77.00,4.70,Warwick Doha Hotel,25.2915,51.4983

In [96]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Hotel Lat", "Hotel Lng"]]

In [97]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)

fig.add_layer(markers)

# Display Map

fig

Figure(layout=FigureLayout(height='420px'))